<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-map-marker"></span>
				</span>Ubicacion</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<table class="table ">
					<tr>
						<td>
							<a  data-filter="*">Bogotá</a>
						</td>
					</tr>
					<tr>
						<td>
							<a data-filter=".bootstrap">Medellin</a>
						</td>
					</tr>
					<tr>
						<td>
							<a data-filter=".html">Cali</a>
						</td>
					</tr>
					<tr>
						<td>
							<a  data-filter=".wordpress">Ibagué</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.jquery2dotnet.com">Pasto</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.jquery2dotnet.com">Santa marta</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.jquery2dotnet.com">Cartagena</a>
							<span class="badge">42</span>
						</td>

					</tr>
					<tr>
						<td>
							<a>Mas Ubicaciones: </a><br/><br/>
							<select class="form-control">
								<option><a>Popayan</a></option>
								<option><a>Pereira</a></option>
								<option><a>Armenia</a></option>
								<option><a>Mocoa</a></option>
								<option><a>Villavicencio</a></option>
							</select>

						</td>
					</tr>
					
					
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-bell"></span>Categorias</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<table class="table">
					<tr>
						<td>
							<a href="http://www.jquery2dotnet.com">Abogados</a> 
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.jquery2dotnet.com">Albañiles</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.jquery2dotnet.com">Artistas</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.jquery2dotnet.com">Banqueros</a>
						</td>
					</tr>

					<tr>
						<td>
							<a>Todas las categorias: </a><br/><br/>
							<select class="form-control">
								<option><a>Celadores</a></option>
								<option><a>Medico general</a></option>
								<option><a>Profesores</a></option>
								<option><a>Porteros</a></option>
								<option><a>Zapateros</a></option>
							</select>

						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-star"></span>Mejor valorados</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				<table class="table">
					<tr>
						<td>
							<span class="glyphicon glyphicon-star-empty"></span><a>Mejor Calificados</a>
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-search"></span><a>Mas buscados</a>
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-comment"></span><a>Mas comentados</a>
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-ok"></span><a>Recomendados</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>