<section id="main-slider" class="carousel">
   <div class="carousel-inner">
      <div class="item active">
         <div class="container">
            <div class="carousel-content">
               <h1 >Bienvenido a  contratados.com</h1>
               <h2 class="textoBlanco"> Busca y ofrece servicios profesionales facilmente.</h2>
               <h3 class="textoBlanco">
                  contratados.com te permite buscar personal profesional calificado que se adapte<br />
                  a la demanda de un servicio o trabajo que solicites u ofrezcas.
               </h3>
            </div>
         </div>
      </div>
      <!--/.item-->
      <div class="item">
         <div class="container">
            <div class="carousel-content">
               <h1 class="textoBlanco">
               ¿Que es contratados.com ?</h1>
               <h3 class="textoBlanco">
               Aqui encuentras de forma rapida profesionales o expertos para el trabajo o servicio que requieras.<br/> 
               Puedes elegir entre muchas posibilidades y contactar de forma agil, rapida  y gratuita <br>
               a quien mejor se adapte a la demanda del servicio que buscas.</h3>
            </div>
         </div>
      </div>
      <!--/.item-->
      <div class="item">
         <div class="container">
            <div class="carousel-content">
               <h1 class="textoBlanco" >Busque profesionales cerca</h1>
               <h2 class="textoBlanco"> Busca y ofrece servicios profesionales facilmente.</h2>
               <h3 class="textoBlanco">
                  Puede encontrar y ofrecer de forma simple servicios profesionales  en tu ciudad o region.
               </h3>
            </div>
         </div>
      </div>
      <!--/.item-->       
   </div>
   <!--/.carousel-inner-->
   <a class="prev" href="#main-slider" data-slide="prev" id="previa"><i class="icon-angle-left"></i></a>
   <a class="next" href="#main-slider" data-slide="next" id="siguiente"><i class="icon-angle-right"></i></a>
</section>
<!--/#main-slider-->