<section style="padding-top: 4%;">
	<div class="container" style="padding-top: 2%;">
		<div class="box  gap">
			<div class="row">
				<div class="col-sm-4 col-md-3">
					<%= render 'barra_filtros'%>
				</div>
				<div class="col-sm-8 col-md-9">
					<div class="well">
						<%= render 'contenido_busquedas'%>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
